// Breakpoints
$sm: rem(375px);
$md: rem(768px);
$lg: rem(1440px);

$sm-md: calc(($sm + $md) / 2); // 571px
$md-lg: calc(($md + $lg) / 2); // 1104px

// Colors
$green: #54e6af;
$black: #121725;
$white: #fff;
$dark-gray: #2c344b;
$gray: #5a668a;
$light-gray: #c2cbe5;

// Typography
$font: 'Chivo', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

// Margins
$margin-sm: 1.5rem;
