.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: rem(19px) 0;
  text-align: center;
  max-width: rem(635px);
  @include breakpoint($sm-md) {
    background-color: $black;
    margin-top: rem(152px);
    align-items: flex-start;
    text-align: left;
  }
}

.content__h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  order: 1;
  @include breakpoint($sm-md) {
    margin: rem(93px) 0 rem(31px) 0;
  }
}

.content__h1-b {
  color: $white;
}

.content__p {
  order: 2;
  max-width: rem(445px);
}

.content__logo-bar {
  order: 3;
  @include breakpoint($sm-md) {
    order: 5;
  }
}

.content__form {
  order: 4;
  margin: 3rem 0;
  width: 100%;
  max-width: rem(427px);
  @include breakpoint($sm-md) {
    margin: rem(40px) 0;
  }
}
