.content {
    display: flex;
    flex-direction: column;
    margin: rem(19px) 0;
    text-align: center;
    max-width: rem(635px);
    @include breakpoint($sm-md){
        background-color: $black;
    }
}

.content__h1 {
    text-transform: uppercase;
    font-size: rem(27px);
    line-height: rem(38px);
    margin-bottom: 1rem;
}

.content__h1-b {
    color: $white;
}

.content__p {
    font-size: rem(15px);
    line-height: rem(25px);
}