.content {
    margin: rem(19px) auto;
    text-align: center;
}

.content__h1 {
    text-transform: uppercase;
    font-size: rem(27px);
    line-height: rem(38px);
    margin-bottom: 1rem;
}

.content__h1-b {
    color: $white;
}

.content__p {
    font-size: rem(15px);
    line-height: rem(25px);
}