.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

@mixin form__children {
  height: rem(46px);
  border-radius: rem(28px);
  border: 0;
  font-family: $font;
  font-size: rem(14px);
  line-height: rem(28px);
}

.form__input {
  @include form__children;
  margin-bottom: 1rem;
  background-color: $dark-gray;
  color: $white;
  padding: 0 2rem;
  @include breakpoint($md) {
    margin-bottom: 0;
    height: rem(56px);
  }
}

.form__input::placeholder {
  color: $white;
  opacity: 0.5;
}

.form__btn {
  @include form__children;
  cursor: pointer;
  text-transform: capitalize;
  background-color: $green;
  color: $black;
  transition: linear 0.3s;
  @include breakpoint($md) {
    position: absolute;
    top: 0;
    right: 0;
    height: rem(46px);
    margin: rem(5px) rem(5px) 0 0;
    padding: 0 rem(27px);
  }
}

.form__btn:hover {
  background-color: $light-green;
}

.form__err-msg {
  position: absolute;
  height: 1rem;
  bottom: -1.5rem;
  left: 2rem;
  color: $red;
  // margin-left: 0.5rem 0 0 2rem;
}
