.main {
  position: relative;
  min-height: 100vh;
  max-width: rem(1600px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
  padding: 1.5rem;
  @include breakpoint($md) {
    align-items: flex-start;
    padding: rem(39px);
  }
  @include breakpoint($lg) {
    padding: rem(130px) 0 rem(130px) rem(165px);
    margin: auto;
  }
}

.main__bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  @include breakpoint($lg) {
    top: rem(130px);
  }
}

.main__bg--mobile {
  min-height: rem(667px);
  height: clamp(rem(667px), 100%, rem(888px));
  @include breakpoint($sm-md) {
    display: none;
  }
}

.main__bg--tablet {
  display: none;
  @include breakpoint($sm-md) {
    display: block;
  }
  @include breakpoint($md-lg) {
    display: none;
  }
}

.main__bg--desktop {
  display: none;
  @include breakpoint($md-lg) {
    display: block;
  }
}

.main__filter {
  background-color: $gray;
  filter: brightness(0.2) opacity(0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: rem(667px);
  @include breakpoint($md) {
    display: none;
  }
}

.main__pattern {
  display: none;
  position: absolute;
  bottom: 0;
  left: rem(30px);
  @include breakpoint($md) {
    display: block;
  }
  @include breakpoint($lg) {
    left: auto;
    right: rem(-24px);
    bottom: rem(78px);
  }
}
