body {
  font-family: $font;
  font-weight: $regular;
}

h1 {
  color: $green;
  font-weight: $light;
  font-size: rem(27px);
  line-height: rem(38px);
  @include breakpoint($md) {
    font-size: 3rem;
    line-height: rem(56px);
  }
  @include breakpoint($lg) {
    font-size: rem(52px);
    line-height: rem(62px);
  }
}

p {
  color: $light-gray;
  font-weight: $light;
  font-size: rem(15px);
  line-height: rem(25px);
  @include breakpoint($md) {
    font-size: rem(18px);
    line-height: rem(28px);
  }
}

form {
  font-weight: $bold;
}

input {
  font-weight: $bold;
}

button {
  font-weight: $bold;
}
